@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat','italic',  sans-serif;
}


@keyframes rotate-scale {
  0% {
    transform: scale(0.9) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: scale(1.05) rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}


@layer base {
  :root {
    --radius: 0.5rem;
  }
}

